---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';

import aaronImage from "@assets/images/profilbild.jpg";

const metadata = {
  title: 'Personal Homepage Demo',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'About', href: '#about' },
        { text: 'Resume', href: '#resume' },
        { text: 'Porfolio', href: '#porfolio' },
        { text: 'Blog', href: '#blog' },
        { text: 'Github', href: 'https://github.com/onwidget' },
      ]}
      actions={[
        {
          text: 'Hire me',
          href: '#',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Aaron Wedral"
    tagline="This is me"
    actions={[{ variant: 'primary', text: 'Contact me', href: getPermalink('/contact#form') }]}
  >
    <Fragment slot="subtitle">
      Human-Computer Interaction, User Experience, Software Development, Design, and Research are some of my skills. <br />
      Through their use, I want to help people achieve their goals and make their life better one step at a time.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={2}
    items={[
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href: 'https://www.linkedin.com/in/aaron-wedral-b89b47266/',
        },
      },
      {
        icon: 'tabler:bulb',
        callToAction: {
          target: '_blank',
          text: 'Orcid',
          href: 'https://orcid.org/0000-0001-8979-5070',
        },
      },
    ]}
    image={{
      src: aaronImage,
      alt: 'Portrait of Aaron Wedral',
      load: 'eager'
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
      <p>
        Welcome! If you want to engage with me professionally, you are in the right place. 
        No matter what I work on, I rarely do it alone. Good ideas become better in groups and working, for me, is a social experience.
      </p>
      <br />
      <p>
        I thrive in giving my all and learning new skills and interests and am therefore always delving into new topics.
      </p>
      <br />
      <p>If you're curios about what I do, the links below will give you some insight:</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          'Co-founder, Lead Game Designer <br /> <span class="font-normal">SnowWhite Games; Vienna, Austria</span> <br /> <span class="text-sm font-normal">2022 - Present</span>',
        description: `Design lead, design methods, iterative development, player feedback, project management, team work, crowd funding, critical testing, kill your darlings`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Student Assistant <br /> <span class="font-normal">TU Wien; Vienna, Austria</span> <br /> <span class="text-sm font-normal">2020 - 2021</span>',
        description: `Course: “Social Issues in Computing”, creating exam questions, correcting student assignments, team work, exam supervision`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'CTO, Founding member <br /> <span class="font-normal">FRYNX GmbH; Vienna, Austria</span> <br /> <span class="text-sm font-normal">2017 - 2018</span>',
        description: `mobile development (android & ios native), online appearance, AWS, project management, team work`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Front-End Developer <br /> <span class="font-normal">Fulcrum GmbH; Vienna, Austria</span> <br /> <span class="text-sm font-normal">2016 - 2017</span>',
        description: `front-end, SAP Hana Cloud, IOT, data visualization, kanban, team work`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `Doctoral programme in Engineering Sciences Area of concentration: Computer Sciences <br /> <span class="font-normal">TU Wien</span> <br /> <span class="text-sm font-normal">2023 - Present</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Master of Science in Media and Human Centered Computing <br /> <span class="font-normal">TU Wien</span> <br /> <span class="text-sm font-normal">2021 - 2023</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Bachelor of Science in Media Informatics <br /> <span class="font-normal">TU Wien</span> <br /> <span class="text-sm font-normal">2016 - 2021</span>`,
        icon: 'tabler:school',
      },
      {
        title: `HTL of Informatics <br /> <span class="font-normal">HTLBuVA Wiener Neustadt</span> <br /> <span class="text-sm font-normal">2011 - 2016</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Skills"
    subtitle="Discover the proficiencies that allow me to bring imagination to life through design."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Graphic design',
        description: 'Proficient in crafting visually appealing designs that convey messages effectively.',
      },
      {
        title: 'Branding and identity',
        description: 'Skilled at developing cohesive brand identities, including logos and brand guidelines.',
      },
      {
        title: 'User-centered design',
        description: 'Experienced in creating user-friendly interfaces and optimizing user experiences.',
      },
      {
        title: 'Adobe Creative Suite',
        description: 'Skilled in using Photoshop, Illustrator, and InDesign to create and edit visual elements.',
      },
      {
        title: 'Typography',
        description: 'Adept in selecting and manipulating typefaces to enhance design aesthetics.',
      },
      {
        title: 'Color theory',
        description: 'Proficient in using color to evoke emotions and enhance visual harmony.',
      },
      {
        title: 'Print and digital design',
        description: 'Knowledgeable in designing for both print materials and digital platforms.',
      },
      {
        title: 'Attention to detail',
        description: 'Diligent in maintaining precision and quality in all design work.',
      },
      {
        title: 'Adaptability',
        description: 'Quick to adapt to new design trends, technologies, and client preferences.',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features3>


  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Let's create together"
    subtitle="Ready to transform your vision into reality?"
    actions={[
      {
        variant: 'primary',
        text: 'Contact me',
        href: '/',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Explore my insightful articles on my blog"
    information={`Dive into a realm of design wisdom and creative inspiration, where you'll find invaluable insights, practical tips, and captivating narratives that elevate and enrich your creative journey.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
